<?xml version="1.0" encoding="UTF-8"?>
<object-views xmlns="http://axelor.com/xml/ns/object-views"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://axelor.com/xml/ns/object-views http://axelor.com/xml/ns/object-views/object-views_5.4.xsd">



  <menuitem name="gst-root" title="GST"/>


  <!-- section-dashboard -->
  <!-- <menuitem name="dashboard-root" parent="gst-root" title="Dashboard" action="action.dashboard.view.dashboard"/>
    <action-view name="action.dashboard.view.dashboard" title="Dashboard"> <view type="dashboard" name="graph.dashboard.new"/>
    </action-view> -->
  <!-- <dashboard name="graph.dashboard.new" title="Dashboard"> <dashlet action="chart:chart.invoice.per.customer"/>
    <dashlet action="chart:chart.invoices.per.category.per.product"/> <dashlet action="chart:chart.customer.per.state"/>
    <dashlet action="chart:chart.invoices.per.status.amount"/> <dashlet action="chart:chart.invoices.per.status.no.of.invoices.line"/>
    <dashlet action="action.invoice.view.dashboard.invoice"/> </dashboard> -->
  <!-- <action-view name="action.invoice.view.dashboard.invoice" title="Invoices" model="com.axelor.gst.db.Invoice">
    <view type="grid" name="invoice-grid"/> <domain>YEAR(self.dateInvoice) >= 1 </domain> <domain>self.status
    in ('validated') and (YEAR(current_date) - YEAR(self.dateInvoice) >= 1 or MONTH(current_date) - MONTH(self.dateInvoice)
    >=1) </domain> </action-view> -->
  <!-- section-partner -->
  <menuitem name="partner-root" parent="gst-root" title="Partner"/>





  <!-- partner-sub-section-partner -->
  <menuitem title="Partner" parent="partner-root" name="partner-root-partner"
    action="action.partner.view.partner"/>
  <action-view name="action.partner.view.partner" title="partner"
    model="com.axelor.apps.base.db.Partner">
    <view type="cards" name="partner-cards"/>
    <view type="grid" name="partner-grid"/>
    <view type="form" name="partner-form"/>
    <view-param name="limit" value="39"/>

    <context name="json-enhance" expr="eval:true"/>
  </action-view>

  <!-- partner-sub-section-contact -->
  <menuitem title="Contact" parent="partner-root" name="partner-root-contact"
    action="action.contact.view.partner.contact"/>
  <action-view name="action.contact.view.partner.contact" title="Contact"
    model="com.axelor.apps.base.db.Partner">
    <view type="grid" name="partner-contact-grid"/>
    <view type="form" name="partner-contact-form"/>
    <view-param name="search-filters" value="partner-filters"/>
    <domain>self.isContact = true </domain>
    <context name="_domain" expr="self.isContact = true "/>
  </action-view>


  <!-- partner-sub-section-configuration -->
  <menuitem title="Configuration" name="partner-root-configuration" parent="partner-root"
    action=""/>


  <!-- partner-configuration-address -->
  <menuitem title="Address" name="partner-root-configuration-address"
    parent="partner-root-configuration" action="action.address.view.partner.configuration.address"/>
  <action-view name="action.address.view.partner.configuration.address" title="Address"
    model="com.axelor.apps.base.db.Address">
    <view type="grid" name="address-grid"/>
    <view type="form" name="address-form"/>

  </action-view>

  <!-- partner-configuration-city -->
  <menuitem title="City" name="partner-root-configuration-city"
    parent="partner-root-configuration" action="action.city.view.partner.configuration.city"/>
  <action-view name="action.city.view.partner.configuration.city" title="City"
    model="com.axelor.apps.base.db.City">
    <view type="grid" name="city-grid"/>
    <view type="form" name="city-form"/>
  </action-view>

  <!-- partner-configuration-state -->
  <menuitem title="State" name="partner-root-configuration-state"
    parent="partner-root-configuration" action="action.state.view.partner.configuration.state"/>
  <action-view name="action.state.view.partner.configuration.state" title="State"
    model="com.axelor.apps.gst.db.State">
    <view type="grid" name="state-grid"/>
    <view type="form" name="state-form"/>
  </action-view>

  <!-- partner-configuration-country -->
  <menuitem title="Country" name="partner-root-configuration-country"
    parent="partner-root-configuration" action="action.country.view.partner.configuration.country"/>
  <action-view name="action.country.view.partner.configuration.country" title="Country"
    model="com.axelor.apps.base.db.Country">
    <view type="grid" name="country-grid"/>
    <view type="form" name="country-form"/>
  </action-view>



  <!-- section-product -->
  <menuitem name="gst-product-root" parent="gst-root" title="Product"/>

  <!-- product-sub-section-product -->
  <menuitem name="gst-product-root-product" title="Products" parent="gst-product-root" action="action.product.view.product"/>
    
  <action-view name="action.product.view.product" title="Products" model="com.axelor.apps.base.db.Product">
     <view type="cards" name="product-cards"/> 
     <view type="grid" name="product-grid"/> 
     <view type="form" name="product-form"/>
  </action-view>
    
  <!-- product-sub-section-product-categories -->
  <menuitem name="gst-product-root-product-category" title="Product Categories" parent="gst-product-root"
    action="action.product.view.product.category"/> 
  
  <action-view name="action.product.view.product.category"
    title="Products Categories" model="com.axelor.apps.base.db.ProductCategory"> 
    <view type="grid" name="product-category-grid"/>
    <view type="form" name="product-category-form"/> 
  </action-view> 

  <!-- section-Invoice -->
  <!-- <menuitem name="invoice-root" title="Invoice" parent="gst-root"/> -->
  <!-- invoice-sub-section-create-invoice -->
  <!-- <menuitem name="invoice-root-create-invoice" title="Create Invoice" parent="invoice-root" action="action.invoice.view.invoice"/>
    <action-view name="action.invoice.view.invoice" title="Create invoice" model="com.axelor.gst.db.Invoice">
    <view type="form" name="invoice-form"/> <view type="grid" name="invoice-grid"/> <view-param name="reload-dotted"
    value="true"/> <domain>self.status in ('draft')</domain> </action-view> -->

  <!-- invoice-sub-section-draft-invoice -->
  <!-- <menuitem name="invoice-root-draft-invoice" title="Draft invoices" parent="invoice-root" action="action.draft.view.invoice.draft"/>
    <action-view name="action.draft.view.invoice.draft" title="Draft Invoice" model="com.axelor.gst.db.Invoice">
    <view type="grid" name="invoice-grid"/> <view type="form" name="invoice-form"/> <view-param name="reload-dotted"
    value="true"/> <domain>self.status in ('draft')</domain> </action-view> -->

  <!-- invoice-sub-section-validated-invoice -->
  <!-- <menuitem name="invoice-root-validated-invoices" title="Validated invoices" parent="invoice-root"
    action="action.validated.view.invoice.validated"/> <action-view name="action.validated.view.invoice.validated"
    title="Validate invoices" model="com.axelor.gst.db.Invoice"> <view type="grid" name="invoice-grid"/>
    <view type="form" name="invoice-form"/> <view-param name="reload-dotted" value="true"/> <domain>self.status
    in ('validated')</domain> </action-view> -->
  <!-- invoice-sub-section-paid-invoices -->
  <!-- <menuitem name="invoice-root-paid-invoices" title="Paid invoices" parent="invoice-root" action="action.paid.view.invoice.paid"/>
    <action-view name="action.paid.view.invoice.paid" title="Paid invoices" model="com.axelor.gst.db.Invoice">
    <view type="grid" name="invoice-grid"/> <view type="form" name="invoice-form"/> <view-param name="reload-dotted"
    value="true"/> <domain>self.status in ('paid')</domain> </action-view> -->


  <!-- invoices-sub-section-cancelled-invoices -->
  <!-- <menuitem name="invoice-root-cancelled-invoices" title="Cancelled Invoices" parent="invoice-root"
    action="action.cancelled.view.invoice.cancelled"/> <action-view name="action.cancelled.view.invoice.cancelled"
    title="Cancelled Invoices" model="com.axelor.gst.db.Invoice"> <view type="grid" name="invoice-grid"/>
    <view type="form" name="invoice-form"/> <view-param name="reload-dotted" value="true"/> <domain>self.status
    in ('cancelled')</domain> </action-view> -->
  <!-- all invoices -->
  <!-- <menuitem name="invoice-root-all-invoices" title="All Invoices" parent="invoice-root" action="action.all.view.all.invoices"/>
    <action-view name="action.all.view.all.invoices" title="All invoices" model="com.axelor.gst.db.Invoice">
    <view type="kanban" name="invoice-kanban"/> <view type="grid" name="invoice-grid"/> <view type="form"
    name="invoice-form"/> </action-view> -->
  <!-- section-company -->
  <menuitem name="gst-company-root" title="Company" parent="gst-root"/>
  <!-- company-sub-section-company -->
  <menuitem name="gst-company-root-company" title="Company" parent="gst-company-root" action="action.company.view.company"/>
    <action-view name="action.company.view.company" title="Company" model="com.axelor.apps.base.db.Company"> 
    	<view type="grid" name="company-grid"/> 
    	<view type="form" name="company-form"/> 
    </action-view> 
  <!-- company-sub-section-bank-account -->
  <menuitem name="gst-company-root-bank-account" title="Bank account" parent="gst-company-root" action="action.bank.account.view.company.bank.account"/>
    <action-view name="action.bank.account.view.company.bank.account" title="Bank Account" model="com.axelor.apps.base.db.BankDetails">
    	<view type="grid" name="bank-details-grid"/> 
    	<view type="form" name="bank-details-form"/> 
    </action-view>

  <!-- company-sub-section-sequence -->
  <menuitem name="gst-company-root-sequence" title="Sequence" parent="gst-company-root" action="action.sequence.view.company.sequence"/>
    <action-view name="action.sequence.view.company.sequence" title="Sequence" model="com.axelor.apps.base.db.Sequence">
    	<view type="grid" name="sequence-grid"/> 
    	<view type="form" name="sequence-form"/> 
    </action-view>

</object-views>